<header class="app-header">
    <nav class="main-nav">
        <ul>
          <li class="pull-right"><a href="/logout"><%= __('Log Out') %></a></li>
          <li class="pull-right"><a href="#!"><%= user.name %></a></li>
        </ul>
    </nav>
</header>