<main ng-view=""></main>

<!--dependencies-->
<script src="/js/dependencies/sails.io.js"></script>

<!--project common-->
<script src="/js/app.js"></script>
<script src="/js/module/general/messages.js"></script>
<script src="/js/module/general/np-select.js"></script>
<script src="/js/module/directive/chansey-crud.directive.js"></script>
<script src="/js/module/directive/chansey-crud-header.directive.js"></script>
<script src="/js/module/directive/chansey-new-model.directive.js"></script>
<script src="/js/module/directive/chansey-side-nav.directive.js"></script>

<script src="/js/service/controller/service.controller.js"></script>
<script src="/js/service/service/service.service.js"></script>
