<header>
    <nav>
        <ul>
            <li class="pull-right"><a href="/log-in"><%= __('Log In') %></a></li>
            <li><a href="#!"><%= __('Why') %></a></li>
            <li><a href="#!"><%= __('Documentation') %></a></li>
            <li><a href="#!"><%= __('Products') %></a></li>
        </ul>
    </nav>
</header>