<div class="main-container">
  <section class="main"></section>
  <section class="helper">
    <h2>Nurse Planner</h2>
    <form method="POST" action="/login">
      <div class="row-fluid">
        <input type="email" name="email" class="np-input" />
      </div>
      <div class="row-fluid">
        <input type="password" name="password" />
      </div>
      <div class="row-fluid">
        <button type="submit" class="np-button button-submit" ></button>
      </div>
    </form>
  </section>
</div>
