/**
* Created with phlammariont-chansey.
* User: Phlammariont
* Date: 2016-06-16
* Time: 10:55 PM
* To change this template use Tools | Templates.
*/
<h1>Signup</h1>
<form method="POST" action="/user">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>