@import "helpers/variables";

@import "module/all";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: florencesans;
}

input.np-input:focus {
  border: none;
  border-bottom: 1px solid @base;
  outline: none;
}

input.np-input.input-medium {
  width: 10rem;
  height: 1.8rem;
  margin: 0px 1rem;
}

button.np-button {
  width: 90%;
  height: 2rem;
  margin: 0px 5%;
  border: none;
  border-radius: 2px;
  font-family: florsans-bold;
  box-shadow: @BS-first-level;
}

.np-button.input-medium {
  width: 10rem;
  height: 2rem;
  margin: 0px 1rem;
}

.button-submit {
  background-color: @base;
  color: white;
}

.button-new {
  background-color: @base900;
  color: white;
}

span.section-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.text-right{
  text-align: right;
}

//==========================================================//
//Log In
//==========================================================//
.log-in-container {
  display: inline-block;
  background-color: RGBA(150,150,150,0.5);
  border-radius: 1rem;
  box-shadow: @BS-first-level;
  margin-top: 5rem;
}
.main-container.log-in-main-container {
  height: 100vh;
  background: url("../images/log-in/np-log-in-calendar.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.is-hide {
  display: none;
}

//==========================================================//
//LOGO STYLE
//==========================================================//

.container-fit-logo {
  width: @logoWidth;
  margin: 0 auto;
}

div.main-logo {
  height: 280px;
  width: @logoWidth;
  background: url("../images/main-logo.jpg");
}

.container-logo {
  display: inline-block;
  margin-top: 35%;
}

.logo-main-name {
  font-size: 4.7rem;
  margin: 0px 15px;
  line-height: 40px;
}

.logo-main-name-bold {
  font-size: 5.5rem;
  font-family: florsans-bold;
  margin: 0px 15px;
}

.logo-separator-line {
  height: 5px;
  width: 100%;
  background-color: black;
}

.logo-week-days {
    width: @logoWidth;
}

span.logo-week-days {
  letter-spacing: 25px;
  margin: 0px 20px;
  font-size: 1.5rem;
}

//==========================================================//
// Dashboard
//==========================================================//

//==========================================================//
// App Navigation
//==========================================================//

nav.app-navigation {
  width: 80%;
  float: right;
}

nav.app-navigation ul {
  width: 100%;
  margin: 10px 0;
  padding: 0;
}

nav.app-navigation ul li {
  float: right;
  width: 100%;
  display: block;
  background: @base900;
  margin-bottom: 0.5rem;
  box-shadow: @BS-first-level;
  transition: margin-bottom 0ms, width 150ms, height 150ms, box-shadow 150ms;
}

nav.app-navigation ul li a {
  display: block;
  width: 100%;
  height: 3rem;
  text-decoration: none;
  text-align: center;
  color: white;
  line-height: 3em;
}

nav.app-navigation ul li:hover {
  box-shadow: @BS-second-level;
  width: 100.5%;
  height: 3.2rem;
  margin-bottom: 0.3rem;
}

//==========================================================//
// User Section
//==========================================================//

.user-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
  &.status-active {
    background-color: green;
  }
  &.status-inactive {
    background-color: gray;
  }
}

.user-status {
  margin: 10px auto;
}

span.user-title {
    color: #abadad;
    font-size: 0.8em;
}

.user-services {
    margin-top: 1%;
}

span.edit.edit-user, span.delete.delete-user {
  font-size: 2em;
}

span.edit.edit-item, span.delete.delete-item {
  font-size: 2em;
}

//==========================================================//
// Crud section
//==========================================================//

.crud-column-title {
  font-size: 0.8em;
  color: gray
}
